<div class="container col-sm-5 form-container">
    <div class="text-center">
        <h3> <strong>Sign-Up</strong> </h3>
    </div>
    <%= render 'form' %>
    <%= link_to 'Login', log_in_path %>
</div>
